<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c70b8">  <td>14/07/28 09:40:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestsPageBaseWithBeforeClassAnnotation.beforeMethod(java.lang.String)[pri:0, instance:com.seleniumtests.test.HomePageTests@5737be7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658448682</td>   <td></td> </tr>
<tr bgcolor="ca96b1">  <td>14/07/28 09:41:11</td>   <td>19068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTests.signInTest(java.lang.String, java.lang.String)[pri:0, instance:com.seleniumtests.test.HomePageTests@5737be7]">signInTest</td> 
  <td>main@658448682</td>   <td></td> </tr>
<tr bgcolor="ca96b1">  <td>14/07/28 09:41:15</td>   <td>22653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTests.homeButtonTest()[pri:0, instance:com.seleniumtests.test.HomePageTests@5737be7]">homeButtonTest</td> 
  <td>main@658448682</td>   <td></td> </tr>
<tr bgcolor="ca96b1">  <td>14/07/28 09:41:15</td>   <td>22862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTests.ipButtonTest()[pri:0, instance:com.seleniumtests.test.HomePageTests@5737be7]">ipButtonTest</td> 
  <td>main@658448682</td>   <td></td> </tr>
<tr bgcolor="8c70b8">  <td>14/07/28 09:41:17</td>   <td>24777</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestsPageBaseWithBeforeClassAnnotation.closing()[pri:0, instance:com.seleniumtests.test.HomePageTests@5737be7]">&lt;&lt;closing</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658448682</td>   <td></td> </tr>
</table>
